@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: transparent;
    border-bottom: 1px solid #888b9b;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
h2.logo img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: auto;
    border: 2px solid #f34e0d; 
    box-shadow: 0 0 10px #f31e0f, 0 0 20px #ffdb78, 0 0 30px #ff1911;
    border-radius: 50%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(RSC.jpg);
    background-size: cover;
    background-position: center;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .btnlogin-popup:hover{
    background: #A2C4FE;
    color: #162938;
}
.icon{
    display: inline-block;
    color: #fff;
}
.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    color: #fff;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #A2C4FE;
    margin-right: 3px;
}
.remember-forgot a{
    color: #A2C4FE;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
:root {
    --glow-color: #A2C4FE;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    margin-left: 25%;
    border: 0.15em solid var(--glow-color);
    border-radius: 6px;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: .8em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
    overflow: hidden;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
.login-register{
    font-size: .9em;
    padding-top: 25px;
    text-align: center;
    font-weight: 500;
    color: white;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #A2C4FE;
    text-decoration: none;
    font-weight: 500;
}
.login-register p a:hover{
    text-decoration: underline;
}
.login-text{
    color: #fff;
    display: flex;
}
.wrapper{
    top: 20%;
    right: 20%;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #A2C4FE;
    border-radius: 20px;
    box-shadow: 0 0 10px #A2C4FE;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    overflow: hidden;
    transition: transform .5s ease, height .5s ease;
}
.wrapper.active-popup{
  transform: scale(1);
}
.wrapper.active{
    height: 500px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .25s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .25s ease;
    transform: translateX(0);
}
.wrapper .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}
.wrapper .close-icon:hover::after{
    transform: scaleX(1);
    border-color: #A2C4FE;
}
.wrapper .close-icon:hover{
    background: #0d314d;    
    box-shadow: 0 0 10px #A2C4FE;
    color: #ffffff;
}
.form-box h2{
    font-size: 2em;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px solid #fff;
    border-bottom: 2px solid #d5ebff;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1en;
    color: #A2C4FE;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #A2C4FE;
    line-height: 57px;
}